<!DOCTYPE html>
<html>
<head>
  <title>Autocompl</title>
  <%= stylesheet_link_tag    "autocompl/application", media: "all" %>
  <%= javascript_include_tag "autocompl/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
